<div class="container">
  <div class="card">
    <h3>Personal Informatin</h3>
    <div class="personal-information border">
        <p>Name: </p>
        <p>ID Number: </p>
        <p>Date Of Birth: </p>
        <p>sex: </p>
        <p>Occupation: </p>
    </div>
    <h3>Contact Information</h3>
    <div class="contact border">
        <p>Email: </p>
        <p>Phone: </p>
    </div>
    <div class="buttons">
        <button mat-raised-button color="primary">Update</button>
        <button mat-raised-button color="warn">Delete</button>
    </div>
  </div>
</div>
