@import "../../../../shared/styles/media-quaries";
@import "../../../../shared/styles/palette";
@import '../../../../shared/styles/table-style';

.container{
    table{
        tr{
            td{
                button{
                    border: none;
                    &.personal{
                        color: black;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $desktop-min) and (max-width: $desktop-max){
    table{
        width: 600px;
    }

}

@media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
    table{
        width: 600px;
    }

}


