<div class="container">
  <ng-container *ngIf="errorMessage$ | async">
    <h3>Something Went Wrong While Retrieving Data</h3>
  </ng-container>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Gradebook</th>
    </tr>

    <ng-container *ngFor="let student of arrOfStudent$ | async">
      <tr>
        <td>
          <button mat-button class="personal" (click)="onDisplayPersonalGradebook(true, student.idNumber)">{{ student.idNumber }}</button>
        </td>
        <td>
          <button mat-button class="personal" (click)='onDisplayPersonalGradebook(true, student.idNumber)'>
            {{ student.fullName.firstName }} {{ student.fullName.lastName }}
          </button>
        </td>
        <td>
          <button mat-stroked-button color="warn" (click)="onAdd(student)">
            Add
          </button>
        </td>
      </tr>
    </ng-container>
  </table>
</div>
