<ng-container *ngIf="!(addUser$ | async); else addUser">
  <div class="container">
    <ng-container *ngIf="isAdmin$ | async">
      <button mat-stroked-button color="primary" (click)="onAddUser()">
        Add Student
      </button>
    </ng-container>
    <ng-container *ngIf="errorMessage$ | async">
      <h3>Something Went Wrong While Retrieving Data</h3>
    </ng-container>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th class="phoneDisplay">Sex</th>
        <th>phone</th>
        <th class="phoneDisplay">Email</th>
        <th class="phoneDisplay">Date oF Birth</th>
      </tr>

      <ng-container *ngFor="let student of students$ | async">
        <tr>
          <td>{{ student.idNumber }}</td>
          <td>
            {{ student.fullName.firstName }} {{ student.fullName.lastName }}
          </td>
          <td class="phoneDisplay">{{ student.sex }}</td>
          <td>{{ student.phoneNumber }}</td>
          <td class="phoneDisplay">{{ student.email }}</td>
          <td class="phoneDisplay">{{ student.dateOfBirth }}</td>
          <ng-container *ngIf="isAdmin$ | async">
            <td class="button">
              <button (click)="onRemove(student.id!)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </table>
  </div>
</ng-container>

<ng-template #addUser>
  <app-register></app-register>
</ng-template>

<div class="confirm" *ngIf="remove">
  <app-confirm></app-confirm>
</div>