<div class="wrapper">
  <ng-container
    *ngIf="!(showPersonalGradebook$ | async); else peronsalGradebook"
  >
    <ng-container *ngIf="addState$ | async; else gradebookList">
      <app-add-gradebook
        [student]="student$ | async"
        [arrOfSubject]="arrOfSubject$ | async"
        [loggedUser]="loggedUser$ | async"
        (record)="registerRecord($event)"
        (cancel)="onCancel()"
      ></app-add-gradebook>
    </ng-container>
    <ng-template #gradebookList>
      <app-gradebook-list
        [arrOfStudent]="arrOfStudents$ | async"
        [errorMessage]="errorMessage$ | async"
        (student)="onAdd($event)"
        (displayPersonalGradebook)="onDisplayPersonalGradebook($event)"
        (idNumber)="onClickIdNumber($event)"
      ></app-gradebook-list>
    </ng-template>
  </ng-container>
  <ng-template #peronsalGradebook>
    <app-personal-gradebook
      [personalGradebook$]="personalGradebook$"
      [loggedUser]="loggedUser$ | async"
      [gpa]="gpa$ | async"
      (displayPersonalGradebook)="onDisplayPersonalGradebook($event)"
    ></app-personal-gradebook>
  </ng-template>
</div>
