<div class="container">
  <ng-container *ngIf="errorMessage$ | async">
    <h3>Something Went Wrong While Retrieving Data</h3>
  </ng-container>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Sex</th>
      <th>phone</th>
      <th>Email</th>
      <th>Date oF Birth</th>
    </tr>

    <ng-container *ngFor="let student of students$ | async">
      <tr>
        <td>{{ student.idNumber }}</td>
        <td>
          {{ student.fullName.firstName }} {{ student.fullName.lastName }}
        </td>
        <td>{{ student.sex }}</td>
        <td>{{ student.phoneNumber }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.dateOfBirth }}</td>
        <ng-container *ngIf="isAdmin$ | async">
          <td class="button">
            <button
              mat-fab
              color="primary"
              aria-label="Example icon button with a delete icon"
              (click)="onDelete(student.id!)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
      </tr>
    </ng-container>
  </table>
</div>
