<div class="wrapper">
  <ng-container *ngIf="addState$ | async; else subjectList">
    <app-add-subject
      (subject)="addSubject($event)"
      (addState)="onChangeAddState($event)"
    ></app-add-subject>
  </ng-container>
  <ng-template #subjectList>
    <app-subject-list
      (addState)="onChangeAddState($event)"
      [subjects$]="subjects$"
      
      [errorMessage$]="errorMessage$"
      (deletedId)="onRemove($event)"
      [user$]="user$"
    ></app-subject-list>
  </ng-template>
</div>


<div class="confirm" *ngIf="remove">
  <app-confirm></app-confirm>
</div>
