@import "../../../../shared/styles/media-quaries";
@import "../../../../shared/styles/palette";
@import "../../../../shared/styles/table-style";
.container {
  position: relative;
  h2 {
    margin-bottom: 0;
    font-weight: bold;
    font-style: italic;
    &:nth-child(2) {
      margin-bottom: 20px;
    }
  }
  h4{
    margin-top: 10px;
    font-weight: bold;
    word-spacing: 8px;
  }
  .badge{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    .gold{
      color: $gold-medal-color;
    }
    .silver{
      color: $silver-medal-color;
    }
    .noob{
      color: $noob-medal-color;
    }
    i{
      border: none;
    }
  }

  table {
    position: relative;
    button {
      &.close {
        position: absolute;
        font-size: 20px;
        font-weight: bold;
        top: 5px;
        right: 1%;
        color: $welcome-color;

        &:hover {
          cursor: pointer;
          color: $required-color;
          font-weight: bold;
        }
      }
    }
  }
}
