<ng-container *ngIf="!(addUser$ | async); else addUser">
  <div class="container">
    <ng-container *ngIf="isAdmin$ | async">
      <button mat-stroked-button color="primary" (click)="onAddUser()">
        Add teacher
      </button>
    </ng-container>

    <ng-container *ngIf="errorMessage$ | async">
      <h3>Something Went Wrong While Retrieving Data</h3>
    </ng-container>

    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Sex</th>
        <th>phone</th>
        <th>Email</th>
        <th>Date oF Birth</th>
      </tr>

      <ng-container *ngFor="let teacher of teachers$ | async">
        <tr>
          <td>{{ teacher.idNumber }}</td>
          <td>
            {{ teacher.fullName.firstName }} {{ teacher.fullName.lastName }}
          </td>
          <td>{{ teacher.sex }}</td>
          <td>{{ teacher.phoneNumber }}</td>
          <td>{{ teacher.email }}</td>
          <td>{{ teacher.dateOfBirth }}</td>
          <ng-container *ngIf="isAdmin$ | async">
            <td class="button">
              <button (click)="onDelete(teacher.id!)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </table>
  </div>
</ng-container>

<ng-template #addUser>
  <app-register></app-register>
</ng-template>
