$header-border-color: rgb(214, 202, 202);
$welcome-color:  rgb(17, 17, 182);
$a-color: rgb(19, 14, 14);
$li-background-color: rgb(117, 183, 238);
$input-text-color:  #495057;
$input-background-color:  #fff;
$input-border-color: #ced4da;
$input-border-focus-color: #007bff;
$required-color: #cf1e1e;