$header-border-color: rgb(214, 202, 202);
$welcome-color:  rgb(17, 17, 182);
$a-color: rgb(19, 14, 14);
$li-background-color: rgb(61, 129, 185);
$input-text-color:  #495057;
$input-background-color:  rgb(252, 252, 252);
$input-border-color: #ced4da;
$input-border-focus-color: #007bff;
$required-color: #cf1e1e;
$card-background-color: rgb(247, 247, 247);
$register-background-color: rgb(240, 238, 238);
$profile-text-color: #0d010f;
$profile-card-color:  rgb(228, 228, 228);
$gold-medal-color:#eed200;
$silver-medal-color: #8b8b91;
$noob-medal-color: #d1772d;

