<div class="card">
  <h3>Add New <span>Subject</span></h3>
  <form [formGroup]="subjectFrom">
    <label>
      Subject Name:
      <input
        type="text"
        class="input-style"
        placeholder="Subject"
        formControlName="subject"
      />
    </label>
    <label>
      Lessons:
      <input
        type="number"
        class="input-style"
        placeholder="Lessons"
        formControlName="lessons"
      />
    </label>
    <label>
      Description:
      <textarea
        cols="30"
        rows="3"
        class="input-style"
        placeholder="Description"
        maxlength="80"
        formControlName="description"
      ></textarea>
    </label>
    <button mat-raised-button color="primary" (click)="onAddSubject()">
      Add Subject
    </button>
  </form>
</div>
