<div class="container">
  <ng-container *ngIf="errorMessage$ | async">
    <h3>Something Went Wrong While Retrieving Data</h3>
  </ng-container>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th class="phoneDisplay">Sex</th>
      <th>phone</th>
      <th class="phoneDisplay">Email</th>
      <th class="phoneDisplay">Date oF Birth</th>
    </tr>

    <ng-container *ngFor="let admin of admins$ | async">
      <tr>
        <td>{{ admin.idNumber }}</td>
        <td>{{ admin.fullName.firstName }} {{ admin.fullName.lastName }}</td>
        <td class="phoneDisplay">{{ admin.sex }}</td>
        <td>{{ admin.phoneNumber }}</td>
        <td class="phoneDisplay">{{ admin.email }}</td>
        <td class="phoneDisplay">{{ admin.dateOfBirth }}</td>
      </tr>
    </ng-container>
  </table>
</div>
