@import "../../../shared/styles/media-quaries";
@import "../../../shared/styles/palette";

header {
  border-bottom: 1px solid $header-border-color;
  box-shadow: 0 0 5px $header-border-color;
  margin-bottom: 30px;
  background: linear-gradient(
    90deg,
    rgba(242, 242, 242, 1) 0%,
    rgba(250, 250, 250, 1) 100%
  );
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .welcome {
      img {
        width: 90px;
        height: 60px;
        margin-right: 10px;
        border-radius: 15%;
      }

      h1 {
        margin: 0;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-style: italic;
        color: $welcome-color;
      }
    }

    nav {
      ul {
        li {
          padding: 10px;
          &.active {
            border: 1px solid $li-background-color;
            border-radius: 6%;
          }

          a {
            color: $a-color;
            font-size: 16px;
            font-weight: 400;
            font-family: "Roboto", sans-serif;
          }
          &:hover {
            cursor: pointer;
            background-color: $li-background-color;
            a {
              font-weight: bold;
              color: white;
            }
            transition: ease 0.7s;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $desktop-min) and (max-width: $desktop-max) {
  header {
    .menu {
      display: none;
    }
    .wrapper {
      // display: grid;
      // grid-template-columns: 0.8fr 1.5fr;
      display: flex;
      justify-content: space-between;
      height: 80px;
      margin: 0 3%;

      .welcome {
        display: flex;
        align-items: center;
      }

      .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 65%;
        ul {
          display: flex;
          li {
            padding: 10px;
            border-radius: 6%;
            &.mobile-display {
              display: none;
            }
            &.active {
              border: 1px solid $li-background-color;
              border-radius: 6%;
            }

            a {
              color: $a-color;
              font-size: 16px;
              font-weight: 400;
              font-family: "Roboto", sans-serif;
            }
            &:hover {
              cursor: pointer;
              background-color: $li-background-color;
              a {
                font-weight: bold;
                color: white;
              }
              transition: ease 0.7s;
            }
          }
        }
        .buttons {
          button {
            &:nth-child(1) {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
.example-container {
  width: 175px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

@media screen and (min-width: $mobile-min) and (max-width: $tablet-max) {
  .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    .menu {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(0, 25%);
      font-size: 40px;
      padding: 10px;
      width: 60px;
      height: 60px;
      cursor: pointer;
      z-index: 2;
      &.none {
        display: none;
      }
      &.block {
        display: flex;
      }
    }
    nav {
      display: flex;
      flex-direction: column;
      z-index: 1;
      position: absolute;
      bottom: 100%;
      right: 0;
      transform: translate(0, 100%);
      width: 100%;
      &.none {
        display: none;
      }
      &.block {
        display: flex;
      }
      &::after {
        content: "";
        display: block;
        width: 100%;
        min-height: 100vh;
        position: absolute;
        top: 99px;
        background-color: rgba(0, 0, 0, 0.6);
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        z-index: 2;
        margin-top: 99px;

        li {
          background-color: black;
          width: 200px;
          height: 50px;
          border-radius: 0;
          text-align: center;
          .active{
            border-radius: 0;
          }
          a {
            color: white !important;
          }
        }
      }
    }
    .nav{
      .buttons{
        button{
          &.mobile-display{
            display: none ;
          }
        }
      }
    }
  }
}
