<header>
  <div class="wrapper">
    <div class="welcome">
      <img src="../../../../assets/images/school.png" alt="school image" />
      <h1>Welcome</h1>
    </div>
    <ng-container *ngIf="isLoggedIn$ | async">
      <mat-icon class="menu" (click)="onShowMenu()">{{ menu }}</mat-icon>
    </ng-container>
    <div class="nav">
      <nav
        (click)="onShowMenu()"
        [ngClass]="{ block: showMenu === true, none: showMenu === false }"
      >
        <ng-container *ngIf="isLoggedIn$ | async; else signIn">
          <ul class="pages">
            <ng-container *ngIf="isLoggedIn$ | async">
              <li routerLink="/profile" class="mobile-display">
                <a>Profile</a>
              </li>
            </ng-container>

            <li routerLink="/subjects" routerLinkActive="active">
              <a>Subjects</a>
            </li>
            <li routerLink="/users/teachers" routerLinkActive="active">
              <a>Teachers</a>
            </li>
            <li routerLink="/users/students" routerLinkActive="active">
              <a>Students</a>
            </li>
            <ng-container *ngIf="isAdmin$ | async">
              <li routerLink="/users/admins" routerLinkActive="active">
                <a>Admins</a>
              </li>
            </ng-container>
            <li routerLink="/gradebooks" routerLinkActive="active">
              <a>Gradebooks</a>
            </li>
            <ng-container *ngIf="isLoggedIn$ | async">
              <li (click)="onLogOut()" class="mobile-display">
                <a>Log Out</a>
              </li>
            </ng-container>
          </ul>
        </ng-container>
        <ng-template #signIn>
          <div></div>
        </ng-template>
      </nav>
      <div class="buttons">
        <ng-container *ngIf="!(isLoggedIn$ | async)">
          <button mat-stroked-button color="primary" routerLink="/login">
            Log In
          </button>
          <button mat-stroked-button color="primary" routerLink="/register">
            Register
          </button>
        </ng-container>
        <ng-container *ngIf="isLoggedIn$ | async">
          <button
            mat-stroked-button
            color="primary"
            routerLink="/profile"
            class="mobile-display"
          >
            Profile
          </button>
        </ng-container>

        <ng-container *ngIf="isLoggedIn$ | async">
          
          <button mat-stroked-button color="primary" (click)="onLogOut()" class="mobile-display">
            Log Out
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</header>
