<header>
  <div class="wrapper">
    <div class="welcome">
      <img src="../../../../assets/images/school.png" alt="school image">  
      <h1>Welcome</h1>
    </div>
    <nav>
      <ul class="pages">
        <li>
            <a>Subjects</a>
        </li>
        <li>
            <a>Teachers</a>
        </li>
        <li>
            <a>Admins</a>
        </li>
        <li>
            <a>Gradebooks</a> 
        </li>
      </ul>  
      <div class="buttons">
        <button mat-stroked-button color="primary" routerLink="/login">Log In</button>
        <button mat-stroked-button color="primary" routerLink="/register">Register</button>
      </div>
    </nav>
  </div>
</header>
